<!DOCTYPE html>
<head>
  <title></title>
</head>
<body>

<nav>
  <ul>
    <li><a href="/">lab</a></li>
    <li><a href="/digvijay">Digvijay</a></li>
    <li><a href="/harshita">Harshita</a></li>
    <li><a href="/rajkumar">Rajkumar</a></li>
    <li><a href="/ramesh">Ramesh</a></li>
  </ul>
</nav>