<% include ./partials/header.ejs %>

<h1>Digvijay</h1>
<p>I m Digvijay Thats Me . I m 20 years old . Its been and year now i mm in canada i have spent rest of my life in INDIA . I m an Indian .I love playing basketball and i have fitness craze </p>

<% include ./partials/footer.ejs %>