<% include ./partials/header.ejs %>

<h1>Harshita</h1>
<p>She is My cute little sister . She is just 9 years olds . She is In 4th grade . Currently she is in india !!!!</p>
<% include ./partials/footer.ejs %>