<% include ./partials/header.ejs %>

<h1>Rajkumar</h1>
<p>.He is my Father . HE is 41 years old . HE is my everything,because of him i m here .He Is really very friendly and very Kind nature. He always help everyone possible he can. I love Him . </p> 
<% include ./partials/footer.ejs %>