<% include ./partials/header.ejs %>

<h1>Ramesh</h1>
<p> She is My mother . She is 39 years Old , she is really loving,care and friendly . She is the person i love . i love her more than anything in this whole world. </p>
<% include ./partials/footer.ejs %>